<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:usesCleartextTraffic="true">
     
    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="ai-Recruit"
        android:icon="@mipmap/ic_launcher"
        tools:replace="android:name, android:label">

      
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
